@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --logo: #000000;
    --red: red;
    --white: #fff;
	--poppins: 'Poppins', sans-serif;
    --headingFont : 'Arial', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;
    --shadow-color: #ADA9E4;
    --bg-color: #001C30;
}

body{
    background-color: var(--bg-color);
	
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
	font-family: var(--poppins);
}

/* Nav css */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92vw;
    height: 12vh;
    margin: auto;
    /* background-color: var(--red); */
}

ul{
    display: flex;
    gap: 4rem;
    width: 30vw;
    list-style: none;
}

ul a{
    text-decoration: none;
    color: var(--white);
    letter-spacing: 2px;
}

.heading h2{
    font-family: var(--poppins);
    color: var(--white);
	font-size: 2.5rem;
}

/* Hero section CSS */

.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 92vw;
    margin: auto;
    margin-top: 15vh;
}

.greet{
	font-size: 1.9rem;
	color: var(--white);
	font-weight: 400;
}

.introText .head{
    font-family : var(--poppins);
    font-size: 4rem;
    letter-spacing: 5px;
    margin-bottom: 1vh;
    color: var(--white);
}

.dixit{
    color: var(--shadow-color);
	font-family: var(--poppins);
	font-weight: 700;
}

#element{
	color: var(--shadow-color);
	font-weight: 500;
}

.introText .para{
    font-size: 1.4rem;
    color: var(--white);
    margin-bottom: 4vh;
    width: 30vw;
    font-family: var(--poppins);
	display: block;
}

#btn{
    padding: .8rem;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: var(--white);
    text-decoration: none;
    color: inherit;
    transition: all ease-in-out .2s;
	display: inline-block;
}

#btn:hover{
    box-shadow: 0px 0px 13px var(--shadow-color);
}

.introImg{
    width: 24rem;
}

.shape{
    width: 60vw;
    height: 105vh;
    background-color:  #176B87;
	position: absolute;
    top: -5%;
	left: 55%;
	border-radius: 89% 11% 54% 46% / 50% 100% 0% 50%;
	z-index: -1;
	overflow-x: hidden;
}

.img{
	position: absolute;
	bottom: 0%;
	left: 55%;
	width: 50vw;
	height: 112vh;
	background-image: url(../img/photomin.png);
	background-size: cover;
}

@keyframes water-wave{
    0%{
        border-radius: 48% 52% 70% 30% / 33% 49% 51% 67%;
    }
    25%{
        border-radius: 68% 32% 47% 53% / 25% 74% 26% 75%;
    }
    50%{
        border-radius: 80% 20% 39% 61% / 43% 80% 20% 57%;
    }
    75%{
        border-radius: 67% 33% 59% 41% / 74% 65% 35% 26%; 
    }
    100%{
        border-radius: 48% 52% 70% 30% / 33% 49% 51% 67%;
    }
}